{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI GPT Maker",
    "description": "Documentação completa da API do GPT Maker",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gptmaker.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v2/workspaces": {
      "get": {
        "description": "Lista os workspaces da conta",
        "responses": {
          "200": {
            "description": "Lista de workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/workspace/{workspaceId}/credits": {
      "get": {
        "description": "Lista a quantidade de crédito disponível na conta.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quantidade de crédito disponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credits"
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/workspace/{workspaceId}/agents": {
      "get": {
        "description": "Lista os agentes disponíveis nesse workspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filtro pelo nome do agente",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de agentes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assistant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Cria um novo agente no workspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do agente a ser criado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAssistant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agente criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}": {
      "put": {
        "description": "Atualiza os detalhes de um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do agente a serem atualizados",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAssistant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agente atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/inactive": {
      "put": {
        "description": "Inativa um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agente inativado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/active": {
      "put": {
        "description": "Ativa um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agente ativado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/settings": {
      "get": {
        "description": "Obtém as configurações de um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configurações do agente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prefferModel": {
                      "type": "string",
                      "description": "Modelo de LLM preferido",
                      "enum": [
                        "GPT_3_5_TURBO",
                        "GPT_4_O",
                        "GPT_4",
                        "CLAUDE_HAIKU",
                        "CLAUDE_SONNET",
                        "CLAUDE_OPUS",
                        "CLAUDE_3_5_SONNET"
                      ]
                    },
                    "timezone": {
                      "type": "string",
                      "description": "Timezone do agente"
                    },
                    "enabledHumanTransfer": {
                      "type": "boolean",
                      "description": "Define se o agente pode transferir para humano"
                    },
                    "enabledReminder": {
                      "type": "boolean",
                      "description": "Define se pode agendar lembretes"
                    },
                    "splitMessages": {
                      "type": "boolean",
                      "description": "Define se a mensagem será dividida em várias, caso seja muito grande"
                    },
                    "enabledEmoji": {
                      "type": "boolean",
                      "description": "Define se pode usar emojis nas respostas"
                    },
                    "limitSubjects": {
                      "type": "boolean",
                      "description": "Define se pode falar de outros assuntos ou apenas relacionado à empresa ou produto"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Atualiza as configurações de um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Configurações do agente a serem atualizadas",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefferModel": {
                    "type": "string",
                    "description": "Modelo de LLM preferido",
                    "enum": [
                      "GPT_3_5_TURBO",
                      "GPT_4_O",
                      "GPT_4",
                      "CLAUDE_HAIKU",
                      "CLAUDE_SONNET",
                      "CLAUDE_OPUS",
                      "CLAUDE_3_5_SONNET"
                    ]
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone do agente"
                  },
                  "enabledHumanTransfer": {
                    "type": "boolean",
                    "description": "Define se o agente pode transferir para humano"
                  },
                  "enabledReminder": {
                    "type": "boolean",
                    "description": "Define se pode agendar lembretes"
                  },
                  "splitMessages": {
                    "type": "boolean",
                    "description": "Define se a mensagem será dividida em várias, caso seja muito grande"
                  },
                  "enabledEmoji": {
                    "type": "boolean",
                    "description": "Define se pode usar emojis nas respostas"
                  },
                  "limitSubjects": {
                    "type": "boolean",
                    "description": "Define se pode falar de outros assuntos ou apenas relacionado à empresa ou produto"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configurações atualizadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do workspace"
          },
          "name": {
            "type": "string",
            "description": "Nome do workspace"
          }
        }
      },
      "Credits": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "integer",
            "description": "Quantidade de crédito disponível no workspace"
          },
          "status": {
            "type": "string",
            "description": "Status da assinatura",
            "enum": [
              "TRIAL",
              "ACTIVE",
              "PAST_DUE",
              "CANCELED"
            ]
          }
        }
      },
      "Assistant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do agente"
          },
          "name": {
            "type": "string",
            "description": "Nome do agente"
          },
          "behavior": {
            "type": "string",
            "description": "Comportamento do agente"
          },
          "avatar": {
            "type": "string",
            "description": "URL de um avatar para o agente"
          },
          "communicationType": {
            "type": "string",
            "description": "Tipo de comunicação",
            "enum": [
              "FORMAL",
              "NORMAL",
              "RELAXED"
            ]
          },
          "type": {
            "type": "string",
            "description": "Objetivo do agente",
            "enum": [
              "SUPPORT",
              "SALE",
              "PERSONAL"
            ]
          },
          "jobName": {
            "type": "string",
            "description": "Nome da empresa ou produto que o agente vai trabalhar"
          },
          "jobSite": {
            "type": "string",
            "description": "Site da empresa"
          },
          "jobDescription": {
            "type": "string",
            "description": "Descrição sobre a empresa"
          }
        }
      },
      "NewAssistant": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do agente"
          },
          "avatar": {
            "type": "string",
            "description": "URL de um avatar para o agente"
          },
          "behavior": {
            "type": "string",
            "description": "Comportamento do agente"
          },
          "communicationType": {
            "type": "string",
            "description": "Tipo de comunicação",
            "enum": [
              "FORMAL",
              "NORMAL",
              "RELAXED"
            ]
          },
          "type": {
            "type": "string",
            "description": "Objetivo do agente",
            "enum": [
              "SUPPORT",
              "SALE",
              "PERSONAL"
            ]
          },
          "jobName": {
            "type": "string",
            "description": "Nome da empresa ou produto que o agente vai trabalhar"
          },
          "jobSite": {
            "type": "string",
            "description": "Site da empresa"
          },
          "jobDescription": {
            "type": "string",
            "description": "Descrição sobre a empresa"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}